body {
  margin: 0;
  padding: 0;
  background-image: url("./Media/social-2deb6d7d43e7.jpg"); /* adjust path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.HDNG{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: whitesmoke;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 50px;
}
.FORM{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.INPUT{
  height: 30px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border-radius: 10px;
}
.BUTTON{
  height: 35px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border-radius: 10px;
  background-color: green;
  color: white;
}
.NAME{
  color: red;
}
.PARA{
  color: white;
}
.REPOSITORIES{
  color: orange;
}
.LINK{
  color: whitesmoke;
}
.LOADING{
  color: whitesmoke;
  font-weight: bold;
}
